.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.input-group .input-group-append button.btn.btn-outline-secondary[type=button] {
    border-radius: 0 .25rem .25rem 0;
    border-color: #ced4da;
}

