.input-group .input-group-append button.btn.btn-outline-secondary[type=button] {
    border-radius: 0 .25rem .25rem 0;
    border-color: #ced4da;
}

@media (min-width: 576px) {
  textarea {
    min-width: 140px;  
  }
}

@media (min-width: 768px) {
  textarea {
    min-width:368px;  
  }
}

@media (min-width: 992px) {
  textarea {
    min-width: 592px;  
  }
}

@media (min-width: 1200px) {
  textarea {
    min-width: 800px;  
  }
}

@media (min-width: 1400px) {
  textarea {
    min-width: 1000px;  
  }
}

